/* welcome page  */
#welcome {
    background-image: url("../images/dance.gif");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: inherit;
    height: 600px;
    background-color: black;
}

#personal-pic{
}

#navy-bar{
 
}


#backStory {
    background-image: url("../images/LA_back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

#story > p {
    color: white;
}
#first {
    font-size: 25px;
}
#logo {
    font-size: 45px;
    color: white; 
    font-family: 'Marck Script', cursive;
    opacity: 0.7;
}

#profile {
    background-color: #222;
}

.uk-position-large {
    margin-bottom: 50px;
}


#icon {
    background-color: black;
    color: white; 
   height: 100px; 
    width: 100px; 
  
    
}

#icon:active {
    
    box-shadow: 0 5px whitesmoke;
    transform: translateY(4px);
}


#blurp {
    background-image: url("../images/dance.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
    
}
#back {
    height: 800px;
}

#totop {
    background-color: white;
    animation: color-me-in 5s;
    width: 50px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}

