#first {
    font-size: 25px;
}

.uk-position-large {
    margin-bottom: 50px;
}

p, h3 {
    color: black;
    transition: color 4s;
}
p:hover, h3:hover{
    color: white;
}
#icon {
    background-color: black;
    color: white; 
    width: 75px; 
    height: 75px;
}

#icon:active {
    
    box-shadow: 0 5px whitesmoke;
    transform: translateY(4px);
}


#blurp {
    background-image: url("../images/dance.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
    
}
#back {
    height: 800px;
}



button {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

input[type=text] {
    width: 875px;
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea {
    width: 875px;
    height: 175px;
}


