/* welcome page  */
#welcome {
    background-image: url("../images/retro-calm.gif");
    background-position: top ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    
}

#backStory {
    background-image: url("../images/LA_back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

#Portfolio{
    background-image:url('../images/rock.jpg'), linear-gradient(to right, white,rgb(74, 72, 72),black,black,black);
    background-size: initial;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgb(38,43,53);
    
}

#Personal-Info{
    background-image: url('../images/subtle.gif');
    background-size: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgb(12, 12, 48);
}

#story > p {
    color: white;
}
#first {
    font-size: 25px;
}
#logo {
    font-size: 45px;
    color: white; 
    font-family: 'Marck Script', cursive;
    opacity: 0.7;
}

#profile {
    background-color: #222;
}






.uk-position-large {
    margin-bottom: 50px;
}


#icon {
    background-color: black;
    color: white; 
   height: 100px; 
    width: 100px; 
  
    
}

#icon:active {
    box-shadow: 0 5px white;
    border: 1px black solid;
    transform: translateY(4px);
}


#blurp {
    background-image: url("../images/dance.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
    
}
#back {
    height: 800px;
}

#totop {
    background-color: white;
    animation: color-me-in 5s;
    width: 50px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}

